body {
    font: 12pt;
    background-color: #DBEDFA;
    font-family: Calibri;
}

.inline-panel {
    width: 100%;
    height: 90%;
}

.inline-element {
    height: 100%;
    top: 10%;
    display: inline-block;
    float: left;
}

.vis-network {
    position: relative; 
    overflow: hidden; 
    touch-action: pan-y; 
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
}

.vis-canvas {
    position: relative;
    touch-action: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
}

.vis-tooltip {
    left: 0px;
    top: 0px;
    visibility: hidden;
}

.inp-1 {
    width: 90%;
    border-radius: 5px;
    margin-top: 20px;
}

.lab-1 {
    width: 100%;
}

.infoHeader {
    color: #1E90FF;
    margin: 0;
    padding: 0;
    cursor: pointer;
    display: inline-block;
    font-family: Calibri;
    font-size: 22px;
    font-style: normal;
    text-decoration: underline;
    font-weight: bold;
}

.renderLink:link, .renderLink:visited, .renderLink:active {
    font: 12pt sans;
    text-decoration: none;
}
.renderLink:hover {
    font: 12pt sans;
    text-decoration: underline;
}

#ig_infopanel {
    height: 100%;
    margin: 10px;
    border: medium;
    background-color: #EEF4FB;
    border-radius: 25px;
}

#ig_canvas {
    height: 100%;
    margin: 10px;
    border: medium;
    background-color: #EEF4FB;
    border-radius: 25px;
}

#mynetwork {
    width: 100%;
    height: 100%;
    border: 1px solid lightgray;
    border-radius: 25px;
}

#buttonspanel {
    text-align: center;
}

#about {
    text-align: right;
    font-size: 10px;
    color: #0b6e98;
    margin-right: 20px;
    margin-top: 5px;
}

#description {
    overflow-y: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: auto;
    height: 100%;
    margin-left: 20px;
}

/* скрываем чекбоксы и блоки с содержанием */
.hideLink, .hideChild,
.hideLink + label ~ div, .hideChild + label ~ div {
    display: none;
}

/* вид текста label */
.hideLink + label, .hideChild + label {
    margin: 0;
    padding: 0;
    cursor: pointer;
    display: inline-block;
}

.hideLink + label {
    color: #0b6e98;
}

.hideChild + label {
    color: #477b7b;
}

/* вид текста label при активном переключателе */
.hideLink:checked + label, .hideChild:checked + label {
    color: red;
    border-bottom: 0;
}

/* когда чекбокс активен показываем блоки с содержанием  */
.inp-1, .hideLink:checked + label + div, .hideChild:checked + label + div {
    display: block;
    background: #fafafa;
    /*-moz-box-shadow: inset 3px 3px 10px #7d8e8f;*/
    -webkit-box-shadow: inset 0px 0px 6px #1E90FF;
    /*box-shadow: inset 3px 3px 10px #7d8e8f;*/
    margin-left: 0px;
    padding: 10px;
    /* чуточку анимации при появлении */
    -webkit-animation: fade ease-in 0.5s;
    -moz-animation: fade ease-in 0.5s;
    animation: fade ease-in 0.5s;
}

.hideLink + label:before, .hideChild + label:before {
    background-color: #1e90ff;
    color: #fff;
    content: "\002B";
    display: block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 16px;
    line-height: 16px;
    margin: 18px 3px;
    text-align: center;
    width: 16px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.hideLink:checked + label:before, .hideChild:checked {
    content: "\2212";
}

/* анимация при появлении скрытых блоков */
@-moz-keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1
    }
}