
@{
    Layout = null;
}

<h2>Welcome to Graph Visualizer!</h2>

<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Визуализатор СРМ</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/icons/favicon.ico">
</head>
<body>

</body>
</html>
